.title {
    padding: 10px;
    background-color: white;
    color: rgb(112, 189, 214);
}

.tileList {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;

}

.tile {
    display: inline;
}