.header {
    background-color: white;
    color: rgb(69, 166, 199);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
}

.logo {
    height: 230px;
    width: auto;
    margin: 10px;
}

.name {
    margin: 10px;
    font-size: 55px;
}

.locations {
    margin: 10px;
    font-size: 40px;
}