.footer {
    background-color: white;
    color: rgb(69, 166, 199);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

@media screen and (max-width: 700px) {
    .footer {
        flex-direction: column;
    }
}

.logo {
    height: 200px;
    width: vw;
    margin: 10px;
}
