.title {
    background-color: white;
    color: rgb(69, 166, 199);
}

.tileList {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;

}

.tile {
    display: inline;
    padding: 0 30px;
}

.socialIcon {
    width: 30px;
    height: 30px;
    padding: 10px 5px;
}

h3 {
    display: inline;
}

.logo {
    height: 150px;
    width: auto;
}