.infoBlock {
    position: relative;
  text-align: center;
  color: white;
}

.background {
    display: block;
    width: 100%;
    height: auto;
}

.text {
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 3.2vw;
}

@media screen and (max-width: 700px) {
    .text {
        font-size: 28px;
    }
}

